body {
  font-family: sans-serif;
}
.buttons {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.resources {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.upgrades {
  float: left;
  width: 33.33%;
  padding: 10px;
}
