body {
  font-family: sans-serif;
  background-color: black;
  text-align: center;
}
.buttons {
  width: 30%;
  margin: 0 auto;
}
.upgrades {
  width: 30%;
  margin: 0 auto;
}
.click-button {
  background-color: #16a31b;
  border: none;
  color: white;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.multiple-click-container {
}
.multiple-click-button {
  background-color: #16a31b;
  border: none;
  color: white;
  width: 97.4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 2px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}

.gold-button {
  background-color: gold;
  border: none;
  color: black;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.click-button-cost {
  margin: 0;
  padding: 0;
}

.upgrade-button {
  background-color: #16a31b;
  border: none;
  color: white;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.resource {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}
