body {
  font-family: sans-serif;
}
.buttons {
  float: left;
  width: 15%;
}
.resources {
  float: left;
  width: 45%;
  padding: 10px;
}
.upgrades {
  float: left;
  width: 30%;
  padding: 10px;
}
.click-button {
  background-color: #16a31b;
  border: none;
  color: white;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.gold-button {
  background-color: gold;
  border: none;
  color: black;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.click-button-cost {
  margin: 0;
  padding: 0;
}

.upgrade-button {
  background-color: #16a31b;
  border: none;
  color: white;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.resource {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}
